body {
background-color:#D3D3D3;
font-family: Courier New, sans-serif;
color: #2F4F4F;
margin-left:50px;
margin-right:50px;
padding-top: 5px;
padding-bottom: 5px;
height:100%;
width 100%;
}

#header {
position:relative;
background-color:#8FBC8F;
border-radius:15px;
border: 4px solid #FFFFFF
}

h1 {
font-style: sans-serif;
text-align:center;
}

#home{
display: inline-block;
margin-top: 5px;
border:4px solid #FFFFFF;
border-radius: 15%;
background-color: #8FBC8F;
text-align:center;
}

#work{
display: inline-block;
margin-top: 5px;
border:4px solid #FFFFFF;
border-radius: 15%;
background-color: #8FBC8F;
text-align:center;
}

#headertabs {
text-align: center;
}

a:hover {
color:#FDF5E6;
}

.nonhover {
color:#FDF5E6;
font-weight:900;
text-decoration:none;
}

a {
color:#2F4F4F;
font-weight:900;
text-decoration:none;
}

#jamiephoto {
padding:none;
display:block;
border:6px solid #2F4F4F;
border-radius:15px;
width:170px;
height:205px;
margin-top:10px;
margin-bottom:none;
}

#photo {
width:170px;
height:205px;
border-radius:11px;
}

#tabletext {
border-left:10px;
}

#email {
display: inline-block;
position:relative;
border:4px solid #FFFFFF;
border-radius: 15%;
background-color: #8FBC8F;
padding-top: 20px;
text-align:center;
height: 55px;
width: 55px;
}

#socialtwitter {
display: inline-block;
position:relative;
border:4px solid #FFFFFF;
border-radius: 15%;
padding-top:20px;
background-color: #8FBC8F;
height: 55px;
width: 55px;
}

#sociallinked {
display: inline-block;
position:relative;
border:4px solid #FFFFFF;
border-radius: 15%;
padding-top:20px;
background-color: #8FBC8F;
height: 55px;
width: 55px;
}

#footer {
background-color:#8FBC8F;
border-radius:15px;
border: 4px solid #FFFFFF;
text-align: center;
padding-top: 5px;
padding-bottom: 5px;
}


#footer container {
	
	min-height:100%;
	position:fixed;
}

#footerheader {
	padding:10px;
}

#footercontent {
	padding:10px;
	padding-bottom:70px;   /* Height of the footer element */
}

#footerfooter {
	width:100%;
	height:60px;
	position:absolute;
}

#page {
padding-left: 185px;
padding-right: 185px;
}


